*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    overflow-x: hidden;
}

:root {
    --colorDark1: #112d4e;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3F72AF 100%);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    word-spacing: 5px;
}

.tab-container {
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3rem;
}

.tab {
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
    word-spacing: 2px;
}

.tab.current-tab {
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;
}

.btn {
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grant-location-container {
    display: none;
}

.grant-location-container.active{
    display: none;
}

.grant-location-container img {
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type {
    font-size: 1.75rem;
    font-weight: 600;
    word-spacing: 2px;
}

.grant-location-container p:last-of-type {
    font-size: 0.85rem;
    font-weight: 500;
    word-spacing: 2px;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container {
    display: none;
}

.loading-container.active {
    display: flex;
}

.loading-container p {
    text-transform: uppercase;
}

.user-info-container {
    display: none;
    width: 50%;
}

.user-info-container.active{
    display: flex;
}

.name {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.name p {
    font-size: 1.5rem;
}

.user-info-container img {
    height: 65px;
    width: 65px;
}

.desc {
    text-transform: capitalize;
    font-size: 1.25rem;
}

.name img {
    height: 20px;
    width: 30px;
}

.user-info-container p {
    /* font-size: 1.5rem; */
    font-weight: 200;
}

.user-info-container p[data-temp] {
    font-size: 2.75rem;
    font-weight: 700;
}

.parameter-container {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    align-items: center;
    margin-top: 2rem;
}

.parameter {
    width: 40%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    gap: 5px 0;
}

.parameter img {
    width: 50px;
    height: 50px;
    /* padding-left: 10px; */
}

.parameter p:first-of-type {
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.parameter p:last-of-type {
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.form-container {
    display: none;
    /* display: flex; */
    width: 95%;
    height: 50px;
    max-width: 550px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 2rem;
}

.form-container.active {
    display: flex;
}

.form-container input {
    all: unset;
    width: calc(100% - 100px);
    height: 35px;
    padding: 0 10px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus {
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: unset;
    border-radius: 50%;
}


.api-error-container {
    display: none;
}

.api-error-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem 0;
}

.api-error-container p {
    text-align: center;
}

.api-error-container img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}